/*@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}