/* ! == HEADER ==*/
.header {
    background-color: #292929;
    position: relative;
}
/*.header .row {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    position: relative;
}*/
.b-contact {
    .b-contact__link {
        font-size: 1.4rem;
        color: #FFFDFD;
        position: relative;
        display: inline-block;
        padding-left: 23px;
        @include link-transition();
        &:before {
            @include sprite-pseudo();
        }
    }
    a.b-contact__link:hover {
        color: #dfb664;
    }
    .b-contact__item--tel {
        margin-right: 19px;
        &:before {
            @include sprite($s-phone);
            margin-top: -6px;
        }
    }
    .b-contact__item--email {
        &:before {
            @include sprite($s-email);
            margin-top: -4px;
        }
    }
    br {
        display: none;
    }
}
.lang {
    text-align: right;
    margin-left: 37px;
    .lang__item {
        position: relative;
        display: inline-block;
        margin-left: 11px;
        &:first-child {
            margin-left: 0;
        }
    }
    .lang__link {
        font-weight: 400;
        font-size: 1.2rem;
        color: #868686;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        @include link-transition();
        &:hover {
            color: #fff;
        }
    }
    .active {
        .lang__link {
            color: #fff;
            cursor: default;
        }
    }
}
.header-logo {
    padding-top: 30px;
    padding-bottom: 29px;
}
.logo {
    display: inline-block;
    line-height: 0;
}
/*.header .headerScroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px 0;
    opacity: 1;
    height: auto;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    .header-logo {
        flex-basis: 150px;
        -webkit-flex-basis: 150px;
        -ms-flex-preferred-size: 150px;
        max-width: 150px;
    }
}*/

/* ! ================================================================ MAIN MENU ====================================================*/
.main-menu {
    position: relative;
    width: 100%;
    padding: 19px 0 20px;
    /*display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;*/
    text-align: center;
    border-top: 1px solid #3b3b3b;
    li {
        position: relative;
        display: inline-block;
        /*margin: 0 18px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }*/
        a {
            font-weight: 300;
            font-size: 1.4rem;
            color: #f9fafb;
            text-transform: uppercase;
            display: block;
            padding: 6px 18px;
            @include link-transition();
            /*position: relative;*/
            /*&:after {
                background: #dfb664;
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 1px;
                bottom: -1px;
                left: 0;
                @include scale-x();
                @include transform-position();
                @include all-transition();
            }*/
            &:hover {
                color: #dfb664;
            }
            /*&:hover:after {
                @include scale-x-hover();
            }*/
        }
        &.active, &:hover {
            a {
                background: #dfb664;
                color: #292929;
                /*&:after {
                    display: none;
                }*/
            }
        }
        &.active:hover {
            cursor: default;
        }
    }
    a {
        position: relative;
        display: inline-block;
    }
}
.button-menu {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 43px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    backface-visibility: hidden;
    text-align: center;
    padding: 0;
    /*.menu-fader {
         font-weight: 400;
         font-size:  1.4rem;
         color: #757575;
         text-transform: uppercase;
         margin-top: 18px;
    }*/
    span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 6px;
        width: 100%;
        background-color: #fff;
        backface-visibility: hidden;
        &:before, &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            content: '';
            transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            -ms-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            -o-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            backface-visibility: hidden;
        }
        &:before {
            transform: translate3d(0,-200%,0);
            -moz--transform: translate3d(0,-200%,0);
            -webkit-transform: translate3d(0,-200%,0);
            -ms-transform: translate3d(0,-200%,0);
            -o-transform: translate3d(0,-200%,0);
        }
        &:after {
            transform: translate3d(0,200%,0);
            -ms-transform: translate3d(0,200%,0);
            -webkit-transform: translate3d(0,200%,0);
            -moz-transform: translate3d(0,200%,0);
            -o-transform: translate3d(0,200%,0);
        }
    }
}
.button-menu.active span {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    &:before {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    &:after {
        transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }
}
.close-menu
{
    display: none;
}
/*@media screen and (min-width: 992px) {
    .header .container {
        max-width: 1200px;
    }
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}*/
@media screen and (max-width: 1200px) {
    .header .container {
        max-width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .header {
        padding-top: 12px;
    }
    .header-menu {
        width: 0;
    }
    .header-logo {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        padding-top: 27px;
        padding-bottom: 17px;
    }
    .header-button {
        flex-basis: 230px;
        -webkit-flex-basis: 230px;
        -ms-flex-preferred-size: 230px;
        max-width: 230px;
    }
    .button-menu {
        padding-top: 11px;
        margin-left: 23px;
    }
    .box-main-menu {
        background-color: rgba(41,41,41,.9);
        position: fixed;
        top: 0;
        left: 0;
        padding: 50px 0 20px;
        margin: 0;
        width: 270px;
        height: 100%;
        text-align: left;
        z-index: 999;
        -webkit-transform: translateX(-550px);
        -moz-transform: translateX(-550px);
        -ms-transform: translateX(-550px);
        -o-transform: translateX(-550px);
        transform: translateX(-550px);
        transition: .7s;
    }
    .box-main-menu.open {
        overflow: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .main-menu {
        display: block;
        padding: 0 15px;
        li {
            display: block;
            text-align: left;
            margin-left: 0;
            border-bottom: 1px dotted #ddd;
            a {
                font-weight: 400;
                padding: 8px 5px 8px 10px;
                line-height: 1.1em;
            }
        }
        /*li:hover {
            a:after {
                display: none;
            }
        }*/
    }
    .main-menu .active a, .main-menu  a:hover {
        background: transparent;
    }
    .close-menu {
        color: #ccc;
        display: block;
        font-weight: 300;
        font-size: 26px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}
@media screen and (max-width: 575px) {
    .header-contact .b-contact {
        text-align: center;
    }
    .header-logo {
        padding-top: 20px;
        padding-bottom: 15px;
        .logo {
            flex-basis: 240px;
            -webkit-flex-basis: 240px;
            -ms-flex-preferred-size: 240px;
            max-width: 240px;
        }
        .header-button {
            flex-basis: 50px;
            -webkit-flex-basis: 50px;
            -ms-flex-preferred-size: 50px;
            max-width: 50px;
        }
        .btn--header {
            display: none;
        }
        .button-menu {
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 355px) {
    .header-logo {
        .logo {
            flex-basis: auto;
            -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
            max-width: 100%;
        }
        .header-button {
            flex-basis: 120px;
            -webkit-flex-basis: 120px;
            -ms-flex-preferred-size: 120px;
            max-width: 120px;
        }
    }
}