@import "reset";
@import "fonts";
@import "vars";
@import "mix";
@import "sprite";
@import "keyframes";

body {
    background-color: $body-bg;
    font-weight: 300;
    font-family: $default-font;
    color: $all-color;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;
    min-width: 320px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 610px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1230px;
    }
}
/*@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}*/
h1, h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.full-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title {
    font-weight: 400;
    font-size: 1.8rem;
    color: #ad8d57;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}
.hide {
    display: none;
}
.all-wrapp {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    position: relative;
    width: 100%;
}
.btn {
    background-color: #ad8d57;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 31px;
    line-height: 30px;
    padding: 0 15px;
    border: 1px solid #ad8d57;
    @include link-transition();
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: #FFFDFD;
    }
}

@import "header";

/* ! == BLOCK TOP == */
.item-slider {
    height: 422px;
    padding: 20px 25px 20px 27px;
    .item-slider__title {
        font-weight: 800;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        span {
            background: #ad8d57;
            display: inline-block;
            padding: 17px 22px 19px;
            margin-bottom: 7px;
        }
    }
    .item-slider__desc {
        font-weight: 300;
        font-size: 1.6rem;
        color: #292929;
        text-transform: uppercase;
        display: block;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .b-top {
        .container {
            max-width: 100%;
        }
        .col {
            padding: 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .item-slider {
        height: 212px;
        padding: 20px 15px 20px 15px;
        .item-slider__title {
            font-size: 1.5rem;
            span {
                padding: 9px 14px 10px;
                margin-bottom: 3px;
            }
        }
        .item-slider__desc {
            font-weight: 400;
            font-size: 1rem;
            margin-top: 9px;
        }
    }
}
@media screen and (max-width: 575px) {
    .item-slider {
        .item-slider__desc {
            font-size: 1.2rem;
            line-height: 1.5em;
            max-width: 200px;
            margin-top: 4px;
        }
    }
}
@media screen and (max-width: 355px) {
    .item-slider {
        .item-slider__title {
            font-size: 1.4rem;
            span {
                padding: 9px 10px 10px;
            }
        }
        .item-slider__desc {
            font-size: 1rem;
        }
    }
}

/* ! == ADVANTAGES == */
.b-advantages {
    padding-top: 46px;
}
.item-advantages {
    .item-advantages__img, .item-advantages__text {
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    .item-advantages__img {
        flex-basis: 62px;
        -webkit-flex-basis: 62px;
        -ms-flex-preferred-size: 62px;
        max-width: 62px;
        padding-top: 2px;
        margin-bottom: 38px;
    }
    .item-advantages__text {
        padding-left: 26px;
    }
    .item-advantages__title {
        font-weight: 300;
        font-size: 1.4rem;
        color: #fcfcfc;
        text-transform: uppercase;
        display: block;
        line-height: 1.1em;
        margin-bottom: 19px;
    }
    .item-advantages__desc {
        font-weight: 300;
        font-size: 1.4rem;
        color: #868686;
        display: block;
        line-height: 1.4em;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .item-advantages {
        .item-advantages__title, .item-advantages__desc {
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 992px) {
    .b-advantages {
        padding-top: 30px;
        .row {
            .col {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    .item-advantages {
        .item-advantages__img {
            margin-bottom: 0;
        }
        .item-advantages__title {
            margin-bottom: 20px;
        }
        .item-advantages__desc {
            line-height: 1.3em;
        }
    }
}
@media screen and (max-width: 575px) {
    .b-advantages {
        padding-top: 30px;
        .row {
            .col {
                margin-bottom: 18px;
            }
        }
    }
    .item-advantages {
        .item-advantages__text {
            padding-left: 20px;
        }
    }
}
@media screen and (max-width: 350px) {
    .item-advantages {
        .item-advantages__img {
            flex-basis: 42px;
            -webkit-flex-basis: 42px;
            -ms-flex-preferred-size: 42px;
            max-width: 42px;
        }
        .item-advantages__title, .item-advantages__desc {
            font-size: 1.2rem;
        }
    }
}

/* ! == COMPANY ==*/
.b-company {
    margin-top: 52px;
}
.list-partner {
    margin-top: 3.25rem;
    .col {
        margin-bottom: 22px;
    }
    img {
        display: inline-block;
    }
}
.item-article {
    background: #fff;
    padding: 37px 28px 38px;
    .title {
        font-weight: 400;
        font-size: 1.8rem;
        color: #ad8d57;
        text-transform: uppercase;
        display: block;
        margin-bottom: 30px;
    }
    p {
        font-weight: 400;
        font-size: 1.4rem;
        color: #292929;
        text-align: justify;
        line-height: 1.45em;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 12px;
        &:hover {
            color: #292929;
        }
    }
}
@media screen and (max-width: 1200px) {
    .b-company {
        margin-top: 52px;
        .container {
            max-width: 100%;
        }
    }
    .item-article {
        margin: 0 -15px;
    }
}
@media screen and (max-width: 991px) {
    .b-company {
        margin-top: 35px;
    }
    .item-article {
        padding: 37px 15px 38px;
    }
}
@media screen and (max-width: 767px) {
    .b-company {
        margin-top: 22px;
    }
    .item-article {
        padding: 34px 15px 35px;
        .title {
            margin-bottom: 27px;
        }
        p {
            line-height: 1.2em;
            margin-bottom: 17px;
        }
        .btn {
            margin-top: 3px;
        }
    }
}
@media screen and (max-width: 660px) {
    .list-partner {
        margin-top: 3.25rem;
        .col:last-child {
            display: none;
        }
    }
}
@media screen and (max-width: 480px) {
    .b-company {
        margin-top: 39px;
    }
    .list-partner {
        margin-top: 0;
        .col {
            flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            max-width: 50%;
            margin-bottom: 14px;
        }
    }
    .item-article {
        padding: 34px 28px 37px;
        .title {
            margin-bottom: 27px;
        }
        p:first-of-type ~ p {
            display: none;
        }
        .btn {
            margin-top: 9px;
        }
    }
}

/* ! == SERVICE == */
.b-service {
    padding-top: 44px;
    .b-service__head {
        text-align: center;
        margin-bottom: 31px;
    }
    .title {
        font-weight: 300;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #DFB664;
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.1em;
        margin: 0;
        @include link-transition();
        &:hover {
            color: #dfdddf;
        }
    }
}
.service-list {
    margin: 0 -7px;
    .col {
        padding: 0 7px;
    }
    .item-service {
        height: 100%;
    }
}
.item-service {
    background: #1f1f1f;
    text-align: center;
    padding: 10px 10px 42px;
    .item-news__img {
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 27px;
        a {
            position: relative;
            display: inline-block;
            overflow: hidden;
            line-height: 0;
            &:after {
                background: rgba(0,0,0,0.4);
                @include all-pseudo();
                @include scale-all();
                @include transform-position();
                @include img-transition();
                opacity: 0;
            }
            img {
                position: relative;
                @include img-transition();
            }
            &:hover {
                &:after {
                    @include scale-all-hover();
                    opacity: 1;
                }
                img {
                    @include scale();
                }
            }
        }
    }
    .item-service__title {
        font-weight: 300;
        font-size: 1.6rem;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        height: 18px;
        overflow: hidden;
        @include link-transition();
        &:hover {
            color: #DFB664;
        }
    }
    .item-service__desc {
        font-weight: 300;
        font-size: 1.4rem;
        color: #757575;
        display: block;
        line-height: 1.45em;
        margin-top: 19px;
    }
    .item-service__button {
        margin-top: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .service-list {
        margin: 0 -3px;
        .col {
            padding: 0 3px;
        }
    }
    .item-service {
        .item-news__img {
            margin-bottom: 20px;
        }
        .item-service__title {
            font-size: 1.3rem;
            height: 13px;
        }
        .item-service__desc {
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .b-service {
        background: #1f1f1f;
        padding: 35px 0;
        .b-service__head {
            margin-bottom: 38px;
        }
    }
    .service-list {
        margin: 0 -15px;
        .col {
            padding: 0 15px;
            margin-bottom: 27px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .item-service {
            text-align: center;
        }
    }
    .item-service {
        background: transparent;
        padding: 0;
        .item-service__title {
            height: auto;
        }
        .item-service__button {
            margin-top: 23px;
        }
    }
}
@media screen and (max-width: 575px) {
    .b-service {
        padding-top: 31px;
        .b-service__head {
            margin-bottom: 29px;
        }
    }
    .item-service {
        .item-news__img {
            margin-bottom: 24px;
        }
        .item-service__desc {
            margin-top: 21px;
        }
    }
}
@media screen and (max-width: 350px) {
    .item-service {
        .item-news__img {
            margin-bottom: 20px;
        }
        .item-service__title {
            font-size: 1.4rem;
        }
        .item-service__desc {
            font-size: 1.2rem;
            margin-top: 15px;
        }
    }
}

/* == SECTION INFO == */
.s-info {
    padding: 50px 0 55px;
}

/* ! == REVIEWS ==*/
.sectionReviews {
    .title {
        font-weight: 400;
        font-size: 1.6rem;
        color: #ad8d57;
        text-transform: uppercase;
        display: block;
        margin-bottom: 46px;
        @include link-transition();
        &:hover {
            color: #FFFDFD;
        }
    }
}
.item-review {
    margin-bottom: 51px;
    &:last-child {
        margin-bottom: 0;
    }
    .item-review__wrapp {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    }
    .item-review__img, .item-review__text {
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    .item-review__img {
        flex-basis: 113px;
        -webkit-flex-basis: 113px;
        -ms-flex-preferred-size: 113px;
        max-width: 113px;
        overflow: hidden;
        margin-top: 1px;
        img {
            display: inline-block;
            border-radius: 50%;
            width: 113px;
            height: 113px;
        }
    }
    .item-review__text {
        padding: 0 30px 0 35px;
        p {
            font-weight: 400;
            font-size: 1.4rem;
            color: #757575;
            line-height: 1.35em;
            margin-bottom: 19px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* ! == VACANCY == */
.b-vacancy {
    .title {
        font-weight: 400;
        font-size: 1.6rem;
        color: #ad8d57;
        text-transform: uppercase;
        display: block;
        @include link-transition();
        margin-bottom: 49px;
        &:hover {
            color: #FFFDFD;
        }
    }
}
.item-vacancy {
    margin-bottom: 43px;
    &:last-child {
        margin-bottom: 0;
    }
    .item-vacancy__header {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        margin-bottom: 19px;
        .item-vacancy__img, .item-vacancy__text {
            -ms-flex-preferred-size: 0;
            -webkit-flex-basis: 0;
            flex-basis: 0;
            max-width: 100%;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
        .item-vacancy__img {
            flex-basis: 52px;
            -webkit-flex-basis: 52px;
            -ms-flex-preferred-size: 52px;
            max-width: 52px;
            margin-top: 3px;
        }
        .item-vacancy__text {
            padding-left: 20px;
        }
    }
    .item-vacancy__title {
        font-weight: 300;
        font-size: 1.4rem;
        color: #ffff;
        display: inline-block;
        line-height: 1.1em;
    }
    .item-vacancy__desc {
        font-weight: 400;
        font-size: 1.4rem;
        color: #868686;
        display: block;
        line-height: 1.45em;
        margin-top: 23px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
    .item-review .item-review__text p, .item-vacancy .item-vacancy__desc {
        font-size: 1.2rem;
    }
    .item-vacancy .item-vacancy__title {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 991px) {
    .b-vacancy {
        padding-top: 3px;
    }
    .item-review .item-review__text {
        padding-right: 0;
    }
    .item-vacancy .item-vacancy__title {
        line-height: 1.35em;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
    .list-vacancy {
        margin: 0 -15px;
        .item-vacancy {
            padding: 0 15px;
        }
    }
    .item-vacancy {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        margin-bottom: 0;
        .item-vacancy__header {
            margin-bottom: 23px;
        }
        .item-vacancy__button {
            padding-left: 72px;
        }
    }
}

@media screen and (max-width: 767px) {
    .s-info {
        padding: 33px 0 42px;
    }
    .sectionReviews {
        .title {
            margin-bottom: 26px;
        }
        .reviews {
            .item-review {
                margin-bottom: 0;
            }
            .item-review:first-child ~ .item-review {
                display: none;
            }
        }
    }
    .b-vacancy {
        .title {
            margin-bottom: 32px;
        }
    }
    .item-vacancy {
        .item-vacancy__desc {
            margin-top: 21px;
        }
    }
}
@media screen and (max-width: 480px) {
    .item-review {
        .item-review__img {
            flex-basis: 80px;
            -webkit-flex-basis: 80px;
            -ms-flex-preferred-size: 80px;
            max-width: 80px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .item-review__text {
            padding-left: 25px;
        }
    }
}
@media screen and (max-width: 420px) {
    .item-review {
        .item-review__img {
            display: none;
        }
        .item-review__text {
            padding-left: 0;
        }
    }
}

/* ! == MAP ==*/
.b-map {
    position: relative;
}
.map-head {
    position: relative;
    padding: 34px 0;
    text-align: center;
    &:before {
        background: #3b3b3b;
        @include pseudo();
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
    }
    .title {
        font-weight: 400;
        font-size: 1.8rem;
        color: #ad8d57;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0;
    }
}
.box-map {
    position: relative;
    height: 364px;
    #map {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
@media screen and (max-width: 1200px) {
    .map-head {
        position: static;
    }
}
@media screen and (max-width: 991px) {
    .map-head {
        padding: 27px 0;
    }
    .box-map {
        height: 295px;
    }
}
@media screen and (max-width: 575px) {
    .map-head {
        padding: 24px 0;
    }
    .box-map {
        height: 255px;
    }
}
@media screen and (max-width: 355px) {
    .box-map {
        height: 200px;
    }
}

@import "form";
@import "footer";
@import "modal";
